.question{
    font-weight: 900;
    background-color: yellow;
    width: 20px;
    height: 10%;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 1%;
}
.question:hover + .box{
    display: block;
}
.box{
    display: none;
    background-color: black;
    color: white;
    width: 15%;
    padding: 0.5%;
}
.bigbox{
    width: auto;
    display: flex;
    flex-direction: row;
}