body{
    margin: 0;
    font-family: Courier New, Courier, monospace;
    font-size: 25px;
}
p span{
    color: green;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}